Answer to Question 1:
After executing the first "b()", "a" becomes 2.
"a" then becomes 4 after executing the second "b()"
And it becomes 6 after the third execution of "b()"
So when evaluating "a" in the last expression, it should be 6.

In [30]:
#Ans to Q2

def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print(f"File {file_name} not found.")

file_length('idterm.py')

File idterm.py not found.

In [1]:
#Ans to Q3

class Marsupial:
    def __init__(self):
        self.list = []
    def put_in_pouch(self, animal):
        self.list.append(animal)
    def pouch_contents(self):
        return self.list

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [2]:
#Ans to Q3 (cont')

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [3]:
#Ans to Q3 (cont')

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [4]:
#Ans to Q3 (cont')

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

In [18]:
#Ans to Q4

def collatz(x):
    if x == 1:
        print(round(x), end ="\n\n")
    elif x % 2 == 0:
        print(round(x))
        collatz(x/2)
    else:
        print(round(x))
        collatz(3*x+1)

print(">>> collatz(1)")
collatz(1)
print(">>> collatz(10)")
collatz(10)

>>> collatz(1)
1

>>> collatz(10)
10
5
16
8
4
2
1

In [27]:
#Ans to Q5

def binary(n):
    if n == 1 or n == 0:
        print(n, end="")
    elif n > 1:
        binary(n//2)
        print(n%2, end = "")

print(">>> binary(0)")
binary(0)
print("\n>>> binary(1)")
binary(1)
print("\n>>> binary(3)")
binary(3)
print("\n>>> binary(9)")
binary(9)

>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [104]:
#Ans to Q6

from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.heading = False
        self.indent = 0

    def handle_starttag(self, tag, attrs):
        n = 1
        while n < 7:
            if "h" and str(n) in tag:
                self.heading = True
                self.indent = n
            n += 1

    def handle_endtag(self, tag):
        if 'h' in tag:
            self.heading = False

    def handle_data(self, data):
        if self.heading:
            indent = (self.indent - 1) * 4
            indent_space = indent*" "
            print(indent_space + data)


infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
    Principles

In [57]:
#Ans to Q7

from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

    
visited = set() # initialize visited to an empty set

def webdir(url, depth, indent):
    '''a recursive web crawler that calls analyze()
       on every visited web page'''

    # add url to set of visited pages
    global visited     # warns the programmer 
    visited.add(url)

    # analyze() returns a list of hyperlink URLs in web page url 
    links = analyze(url, depth, indent)

    # recursively continue crawl from every link in links
    if depth > 1:
        for link in links:
            # follow link only if not visited
            if link not in visited:
                try:
                    webdir(link, depth-1, indent+1)
                    
                except:
                    pass


def analyze(url, depth, indent):
    
    indent_space = indent*"    "
    print(indent_space+url)           # for testing
    
    # obtain links in the web page
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()          # get list of links
    
    # print the http links found in web page
    if depth == 1:
        indent += 1
        indent_space = indent*"    "
        for link in urls:
            print(indent_space+link)

    return urls

webdir('https://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

https://reed.cs.depaul.edu/lperkovic/test1.html
    http://reed.cs.depaul.edu/lperkovic/test2.html
        http://reed.cs.depaul.edu/lperkovic/test4.html
    https://reed.cs.depaul.edu/lperkovic/test3.html
        https://reed.cs.depaul.edu/lperkovic/test4.html

In [95]:
 !pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Requirement already satisfied: six in /Users/raina/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 3.4 MB/s eta 0:00:01
Requirement already satisfied: sqlalchemy>=0.6.7 in /Users/raina/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/raina/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in /Users/raina/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (8.2.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: matplotlib-inline in /Users/raina/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: jedi>=0.16 in /Users/raina/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: pickleshare in /Users/raina/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in /Users/raina/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /Users/raina/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: appnope in /Users/raina/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: setuptools>=18.5 in /Users/raina/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: pygments>=2.4.0 in /Users/raina/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/raina/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: pexpect>4.3 in /Users/raina/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: traitlets>=5 in /Users/raina/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: stack-data in /Users/raina/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/raina/opt/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/raina/opt/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /Users/raina/opt/anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: asttokens in /Users/raina/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /Users/raina/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing in /Users/raina/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13714 sha256=e716d017a607a8654557f5faa8cf17a911713c926c0810c5408afe3c71815d97
  Stored in directory: /Users/raina/Library/Caches/pip/wheels/75/f7/28/77a076f1fa8cbeda61aca712815d04d7a32435f04a26a2dd7b
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2 sqlparse-0.4.2

In [137]:
#Ans to Q8

import sqlite3

con = sqlite3.connect('weather.db')
cur = con.cursor()
cur.execute("CREATE TABLE Weather (City text, Country text, Season text, Temperature float, Rainfall float)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai','India','Winter',24.8,5.9)")

In [138]:
cur.execute("INSERT INTO Weather VALUES ('Mumbai','India','Spring',28.4,16.2)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai','India','Summer',27.9,1549.4)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai','India','Fall',27.6,346)")
cur.execute("INSERT INTO Weather VALUES ('London','United Kingdom','Winter',4.2,207.7)")
cur.execute("INSERT INTO Weather VALUES ('London','United Kingdom','Spring',8.3,169.6)")
cur.execute("INSERT INTO Weather VALUES ('London','United Kingdom','Summer',15.7,157)")
cur.execute("INSERT INTO Weather VALUES ('London','United Kingdom','Fall',10.4,218.5)")
cur.execute("INSERT INTO Weather VALUES ('Cairo','Egypt','Winter',13.6,16.5)")
cur.execute("INSERT INTO Weather VALUES ('Cairo','Egypt','Spring',20.7,6.5)")
cur.execute("INSERT INTO Weather VALUES ('Cairo','Egypt','Summer',27.7,0.1)")
cur.execute("INSERT INTO Weather VALUES ('Cairo','Egypt','Fall',22.2,4.5)")

In [145]:
con = sqlite3.connect('weather.db')
cur = con.cursor()
cur.execute('SELECT * FROM Weather')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [148]:
print("a) All the temperature data.")
cur.execute('SELECT Temperature FROM Weather')
cur.fetchall()

a) All the temperature data.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [149]:
print("b) All the cities, but without repetition.")
cur.execute('SELECT DISTINCT City FROM Weather')
cur.fetchall()

b) All the cities, but without repetition.

[('Mumbai',), ('London',), ('Cairo',)]

In [150]:
print("c) All the records for India.")
cur.execute('SELECT * FROM Weather WHERE Country = "India"')
cur.fetchall()

c) All the records for India.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [151]:
print("d) All the Fall records.")
cur.execute('SELECT * FROM Weather WHERE Season = "Fall"')
cur.fetchall()

d) All the Fall records.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [152]:
print("e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.")
cur.execute('SELECT City, Country, Season FROM Weather WHERE Rainfall BETWEEN 200 AND 400')
cur.fetchall()

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [155]:
print("f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.")
cur.execute('SELECT City, Country FROM Weather WHERE Season = "Fall" AND Temperature > 20 ORDER by Temperature')
cur.fetchall()

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [158]:
print("g) The total annual rainfall for Cairo.")
cur.execute('SELECT SUM(Rainfall) FROM Weather WHERE City = "Cairo"')
cur.fetchall()

g) The total annual rainfall for Cairo.

[(27.6,)]

In [161]:
print("h) The total rainfall for each season.")
cur.execute('SELECT Season, SUM(Rainfall) FROM Weather GROUP by Season')
cur.fetchall()

h) The total rainfall for each season.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

In [194]:
#Ans to Q9

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

list_a = [word.upper() for word in words]
print(f"a) {list_a}")

list_b = [word.lower() for word in words]
print(f"b) {list_b}")

list_c = [len(word) for word in words]
print(f"c) {list_c}")

# list_d = []
# for word in words:
#     list_d1 = [word.upper(), word.lower(), len(word)]
#     list_d.append(list_d1)
# print(f"d) {list_d}")

list_d = [[word.upper(), word.lower(), len(word)] for word in words]
print(f"d) {list_d}")

list_e = [word for word in words if len(word)>=4]
print(f"e) {list_e}")

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3]
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
e) ['quick', 'brown', 'jumps', 'over', 'lazy']